# Ignore the following
.bash_history
.ssh/.agent_env
.ssh/ssh_auth_sock
.fltk/
.kde/
.pgadmin/
.pgadmin3
.pgadmin_histoqueries
.quodlibet/
Pictures/
Sync/
lgg5/
lgg5main/
pgadmin*
pt/logs
docu
.adobe
.bash_logout
.bash_history
Bureaublad
.cache
.config
.dbus
.dmrc
Downloads
.gconf
.gimp-2.8
.git
.gitignore.swp
.gksu.lock
.gnome
.gnupg
.gtk-bookmarks
.gvfs
.ICEauthority
.java
.lesshst
.local
.macromedia
.mozilla
.nano
.node_repl_history
Openbaar
.pki
.profile
Sjablonen
.thumbnails
utils
.viminfo
.wget-hsts
.Xauthority
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xsession-errors
.xsession-errors.old
.eclipse/
.jmc/
.oracle_jre_usage/ 


# Except for the themes directories


